@import "screen_mainstyle.css" screen;


p:first-letter, span{
	margin-left:3%;
}


#lois li:before{
	content: none;
}

#lois li{
	border:none;
	line-height: normal;
}

#theorie{
	float: left;
	width: 48%;
	padding-left: 6px;
	padding-right: 6px;
	background-color:#B5D5F9;
	border-radius: 10px;
}

#pratique{
	float: right;
	width: 48%;
	padding-left: 6px;
	padding-right: 6px;
	background-color:#B5D5F9;
	border-radius: 10px;

}

div>h2:first-child{
	text-align: center;
}


#bigdog{
	width: 40%;
}

#bigdog+div{
	margin-left: 42%;
	margin-right: 2%;
	margin-top: -30%;
}

#drone{
	padding-top: 8%;
	margin-right: 2%;
	width: 40%;
	float: right;
}

#drone+div{
	margin-top: 10%;
	padding-top: 5%;
	padding-bottom: 2%;
}

#rosa{
	width: 40%;
	padding-bottom: 2%;
}

#rosa+div{
	margin-left: 42%;
	margin-right: 2%;
	margin-top: -30%;
}


#nao{
	width: 20%;
}

#nao+div{
	margin-left: 22%;
	margin-right: 2%;
	margin-top: -22%;
	padding-bottom: 15%;
}

blockquote{
	font-style: italic;
	border-left: 5px solid #B4FFA6;
	padding-left: 8px;

}