@import "screen_mainstyle.css" screen;


table, table td{
        border:solid black 2px;
        background-color: lightgrey;
        border-collapse: collapse;
}



acronym[title="page suivante"]{
	float: right;
	clear: both;
}