@import "screen_mainstyle.css" screen;

table{
	display: inline-block;
}

table, table td{
        border:solid black 2px;
        background-color: lightgrey;
        border-collapse: collapse;
}

table, td, tr, th{
	width: 25%;
	text-align: center;
}


img[alt="graphique correspond au tableau sur la NSF"]{
	display: inline-block;
	margin-left: 5%;
	margin-top: 8%;
	position: absolute;
	width: 40%;
		
}

acronym[title="page suivante"]{
	float: right;
	clear: both;
}

body>div>h1{
	margin-left:10%;
	padding-top: 20px;
}