@import "screen_mainstyle.css" screen;

caption{
	border-top:solid black 2px;
	border-left:solid black 2px;
	border-right:solid black 2px;
	background-color: #CFCFCF;
}

table, table td{
        border:solid black 2px;
        background-color: #CFCFCF;
        border-collapse: collapse;
        text-align: center;
}

#table1,td,tr,th{
	width: 30%;
}

#table2{
	width: 20%;
}



img[alt="graphique correspond au tableau sur la NSF"]{
	margin-left: 35%;
	margin-top: -40%;
	margin-bottom: 10%;
}

p:first-letter{
	margin-left: 3%;
}