/**********************************************************************************************************************************************
*                                                           Propriétés des Tableaux                                                       *
**********************************************************************************************************************************************/
/*Options de l'entête*/
caption{
	border-top:solid black 2px;
	border-left:solid black 2px;
	border-right:solid black 2px;
	background-color: #CFCFCF;
}

/*Options du tableaux 1 et de ses cellules*/
table, table td{
        border:solid black 2px;
        background-color: #CFCFCF;
        border-collapse: collapse;
        text-align: center;
}

#table1,td,tr,th{
	width: 30%;
}

/*positionnement de l'image associé au tableau 1*/
img[alt="graphique correspondant au tableau sur la NSF"]{
	margin-left: 35%;
	margin-top: -55%;
	margin-bottom: 10%;
}

#table2{
	width: 25%;
	margin-top: 5%;
	margin-bottom: 6%;
}

img[alt="graphique correspondant au sondage"]{
	position: absolute;
	margin-left: 30%;
	margin-top: -22%;

}