form{
	background: url(../images/fond.jpg);
}

h2{
	font-style: normal;
	text-decoration: none;
	background-color: lightgrey;
	border-radius: 10px;
}

#contenu h1{
	color:#2E2E2E;
	background-color: lightblue;
	border-radius: 10px;
}

input:focus{
	background-color: lightgrey;
}

label:active{
	color:red;
}