/* positionnement du logo */
#logo{
    position: relative;
    margin-top: -3%;
    margin-bottom: 2%;
    width: 10%;
}

/*disparition des éléments suivants*/
#menu, #bandeau, acronym{
	display: none;
}

/********************************************************************************************************************************************
*                                              Apparence du texte dans les différents conteneurs                                            *
********************************************************************************************************************************************/
body{
	color: grey;
}

div,p{
	font-size: 16pt;
}

p:first-letter,span{
	margin-left: 3%;
}

body>div>h1{
	font-size: 32pt;
	text-align: center;
	text-decoration: underline;
	color: black;
} 

#contenu>h1{
	font-size: 24pt;
	text-align: center;
	color: #2E2E2E;
	text-decoration: underline;
	margin-top: -3%;
}

h2{
	font-size:20pt;
	color:#585858;
	text-decoration: underline;
}

h3{
	font-size: 18pt;
	color:#6E6E6E;
	text-decoration: underline;
}

a{
	color:grey;
}

li{
	list-style-type: square;
}

blockquote p:before{
	content: open-quote;
}

blockquote p:after{
	content: close-quote;
}

#changerstyle{
    display: none;
}

/********************************************************************************************************************************************
*                                                          Apparence des tableaux                                                           *
********************************************************************************************************************************************/
#table1,th{
	width: 40%;
}

#table1{
	margin-bottom: 5%;
}

caption{
	border-top:solid black 2px;
	border-left:solid black 2px;
	border-right:solid black 2px;
}

table, table td{
    border:solid black 2px;
    border-collapse: collapse;
}

#table1 td{
	padding-left: 20%;
}

/********************************************************************************************************************************************
*                                                            Apparence des images                                                           *
********************************************************************************************************************************************/


img[alt="graphique correspond au tableau sur la NSF"]{
	position: relative;
}

.imgpage1{
	width: 30%;
}

