/**********************************************************************************************************************************************
*                                                             Modifications du menu                                                           *
**********************************************************************************************************************************************/
/* Liste */   
#menu {
        display: inline-block;
        padding : 0; /* pas de marge intérieure */
        padding-top: 25px; /*marge en haut de 25px*/
        margin : 0; /* ni extérieure */
        margin-top: 20px;
        list-style : none; /* supprime le style par défaut de la liste */
        line-height : 75px; /* définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
        position : relative;
        width : 100%;
        border-radius: 25px;     
}

/*elements des listes*/  
#menu li { 
        display : inline-block;
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        border-right: solid white 2px;
        width : 18%; /*chaque case à une largeur de 18% de l'écran*/
        vertical-align: middle; /*menu placé au milieu*/
        font-size: 130%; /*Augmente la taille du texte du menu*/
        overflow: hidden; 
        background-color: #676F94;
}
/*apparence des puces*/
li:before{
        content: url("../image/puce.png");
}



/* Contenu des listes */
#menu a{ 
        display : inline-block; /* on change le type d'élément, les liens deviennent des balises de type block */        
        padding : 0; /* aucune marge intérieure */
        text-decoration : none; 
}


#menu a:link{
        color:lightgrey;
}
   
#menu a:visited{
        color:lightgrey;
}    

#menu a:hover{
        color:white;
}


/*permet de fixer la taille de l'image home dans le menu*/


ul li:first-child{
        line-height: 0px; 
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px; 
        border-left:solid white 2px;   
}

ul li:last-child{
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;    
}

ul li:first-child:before{
        content: none;
}


/********************************************************************************************************************************************
*                                                               Modification des images                                                     *
********************************************************************************************************************************************/

#logo{
        float:right;
        background-position: top right;  
        margin-bottom: 10px;   
        margin-right: 15px; 
        width: 10%;
        
}

/*enleve les pointillés en bas des images de fleches*/
acronym{
        border-style: none;
}



/****************************************************************************************************************************************
*                                           Zone principale et bandeau de bas de page                                                   *
****************************************************************************************************************************************/

/*div contenu*/
#contenu{
        position:relative;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        border: solid black 1px;
        border-radius: 10px;
        width: 97%;
        background-color: #AAAADA;
        overflow: hidden;
}

#bandeau{
        text-align: center;
        position :relative;       
}


/*titre de niveau 1 dans la div contenu*/
#contenu h1{
        text-align: center;
}

/*titre du site*/
/*Permet d'ajouter une police que les utilisateurs ne possèdent pas forcément, il s'agit de CSS 3*/
@font-face{
  font-family :"robotica";
  src : url('../Contenu/robotica.ttf');
}


body>div>h1{
    text-align: center;
    font-family: 'robotica';
    font-size: 40px;
    color:#34364B;
}

/*couleur du background*/
body{
        background-color: #7DA8DF;
}




a:link{
        color:blue;
}

a:visited{
        color:purple;
}

