/**********************************************************************************************************************************************
*                                                             Modifications du titre principal                                                *
**********************************************************************************************************************************************/

/* Permet d'ajouter une police que les utilisateurs ne possèdent pas forcément, il s'agit de CSS3 */
@font-face{
  font-family :"robotica";
  src : url('../Contenu/robotica.ttf');
}

/* modifie l'apparence du titre principale su site */
body>div>h1{
    text-align: center; /*centre le bloc h1 au milieu de la page*/
    font-family: 'robotica'; /*change la police du titre pour robotica*/
    font-size: 40pt; /*change la taille de la police*/
    color:#F3C4CC;  /*change la couleur de la police*/
}


/**********************************************************************************************************************************************
*                                                             Modifications du menu                                                           *
**********************************************************************************************************************************************/

/* Liste du menu */   
#menu {
        display: inline-block;
        padding : 0; /* pas de marge intérieure */
        padding-top: 25px; /*marge intérieure en haut de 25px*/
        margin : 0; /* pas de marge extérieure */
        margin-top: 20px; /*marge extérieure supérieur de 20px*/
        list-style : none; /* supprime le style par défaut de la liste */
        line-height : 75px; /* définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
        position : relative;
        width : 100%;
}

/*elements des listes*/  
#menu li { 
        display : inline-block;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        border-right: solid black 2px;
        width : 19.2%; /*chaque case à une largeur de 19.2% de l'écran*/
        vertical-align: middle; /*menu placé au milieu*/
        font-size: 130%; /*Augmente la taille du texte du menu*/
        background-color: #F3C4CC;
        float: left;
}

/*apparence des puces*/
li:before{
        content: url("../images/puce.png");
}


/* Contenu des listes */
#menu a{ 
        display : inline-block; /* on change le type d'élément, les liens deviennent des balises de type block */        
        padding : 0; /* aucune marge intérieure */
        text-decoration : none; 
        color:#B40404;
}

/*lien lorsque pas visité*/
#menu a:link{
        color:#B40404;
}

/*lien lorsque visité*/  
#menu a:visited{
        color:#B40404;
}    

#menu li:hover a{
        color:#34364B;
}

#menu li:hover{
    background-color: #B7C0D2;
}



/*permet de fixer la taille de l'image home dans le menu*/
ul li:first-child{
        line-height: 0px;  
}

/*permet d'enlever la puce devant l'image home*/
ul li:first-child:before{
        content: none;
}

#changerstyle{
    display: none;
}

/********************************************************************************************************************************************
*                                                            Modification des images                                                        *
********************************************************************************************************************************************/
#logo{
    float: left;
    margin-left: 10px;
    margin-top: -8%;
    width: 10%;
}

/*enleve les pointillés en bas des images de fleches*/
acronym{
        border-style: none;
}



/****************************************************************************************************************************************
*                                                 Zone principale et bandeau de bas de page                                             *
****************************************************************************************************************************************/

/*div contenu*/
#contenu{
        position:relative;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        border: solid #333333 1px;
        border-radius: 10px;
        width: 95%;
        background-color: #F3C4CC;
}

/*titre de niveau 1 dans la div contenu*/
#contenu h1{
        text-align: center;
        font-weight: bold;
        color: #B40404;
        font-size: 35pt;
}


/*Titre de niveau 2*/
h2{
    font-style: italic;
    text-decoration: underline;
}

/*Titre de niveau 3*/
h3{
    font-size: 20;
}


/*Selectionne le body*/
body{
        background-color: #7A0033;
        margin : 0;
        color:#B40404;
        font-size: 18pt;
}

/*Creer un alinéa de 3% de la page*/
p:first-letter, span{
    margin-left:3%;
}

#bandeau{
    margin-left: 30%;
    border:none; /*problème avec l'image, si on met une bordure elle est beaucoup trop grande par rapport à l'image*/
}


/****************************************************************************************************************************************
*                                                              Flèches de Navigation et liens                                           *
****************************************************************************************************************************************/

acronym[title="page suivante"]{
    float: right;
    clear: both;
}

acronym[titre="page précédente"]{
    float: left;
    clear: both;

}

a:link{
        color:black;
}

a:visited{
        color:#0431B4;
}
