/* Liste */   
#menu {
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* supprime le style par défaut de la liste */
        line-height : 25px; /* définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
        position : absolute;
        width : 100%;      
}


/*elements des listes*/  
#menu li { 
        display : inline-block;
        border : solid black 2px;
        width : 22%;
}


/* Contenu des listes */
#menu a{ 
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */        
        padding : 0; /* aucune marge intérieure */
        text-decoration : none; 
}

/*titre de niveau 1*/

       
}

#menu li /*elements des listes*/   
{ 
        display : inline-block;
        border : solid black 2px;
        width : 23%;
}

h1{
        text-align: center;
}

/*div contenu*/
#lala{
        position:absolute;
        margin-top: 40px;
        padding: 10px;
        border: solid black 1px;
        border-radius: 10px;
        width: 97%;
}

